header{
  text-align:center;
}
button {
  background-color: #fecb3e;
  border-color: #000000;
  font-family: monospace;
}
.btn_login {
  text-align: right;
  margin-right: 30%;
}
.btn_menu{
  text-align: center;
}
body {
  height: 100%;
  font-family: monospace;
  background-color: #ebebeb;
}
p,button,h3,h1,h2,h4{
  color: #000000;
  font-family: monospace;
}
button {
  background-color: #fecb3e;
  border-color: #000000;
  font-family: monospace;
}
.comment{
  text-align:right;
}
input{
  background-color: #fffbb9;
}
.link_pequeño {
  color: white;
  font-size: 90%;
  text-align: center;
}
.imagenTitle{
  height: auto;
  width: 40%; 
  border-radius:5%;
}
.title{
  font-size: 30px;
}
.post_view{
  margin-left: 15%;
  margin-right: 30%;
  height:100%;
}
.l_footer{
  border-top: 5px solid #232323
}
.footer{
  color:#232323;
  text-align: center;
}
.i_footer{
  height: auto;
  width: 5%; 
  text-align: center;
}
/* form{
  text-align: rigth;
  margin-rigth: 40%;
}*/